@{
    ViewBag.Title = "Hlavní strana";
}

<main>
    <h1>Nadpis první úrovně</h1>
    <p>Libovolný text typu lorem ipsum</p>
            
    <h2>Další nadpis</h2>
    <p>Podtext dalšího nadpisu</p>
    <p>Jiný podtext</p>
            
    <h2>Další nadpis</h2>
    <p>Textík dle libosti</p>
    <ul>
        <li>odrážka</li>
        <li>odrážka</li>
        <li>odrážka</li>
    </ul>
</main>
