@using Microsoft.AspNetCore.Mvc.Localization
@using UkazkaAspNetCore._Localization

@model MyLocalizedModel
@{
    Layout = null;
}

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h1>@Localizer["Hello world!"]</h1>
<p>@Localizer["Welcome"]</p>

<form method="post">
    
    <input type="text" asp-for="Email" />

    <input type="submit" value='@SharedLocalizer["Button"]'/>
</form>


