@{
    Layout = null;
}

<h2>Configuration</h2>
<ul>
    <li><a href="config">config</a></li>
    <li><a href="config/value/SmtpSettings:SmtpServer">config/value/SmtpSettings:SmtpServer</a></li>
    <li><a href="mailer">mailer</a></li>
    <li><a href="logging">logging</a></li>
    <li><a href="context">context</a></li>
</ul>