@{
    ViewBag.Title = "Eshop";
}

<main>
    <h1>Všechny produkty</h1>
    <p>Vyberte si preferovaný produkt a proveďte jednorázový nákup</p>
    
    <br/>
    
    <div class="product">
        <div>
            <h2>Název produktu</h2>
            <p>Popisek</p>
            <img src="https://cdn4.iconfinder.com/data/icons/iphone-5s-5c/256/iPhone-5S-white.png" alt=""/>
            <span>7900 Kč</span>
            <a asp-action="Buy" asp-route-id="1">Koupit</a>
        </div>
    </div>

    <div class="product">
        <div>
            <h2>Název produktu</h2>
            <p>Popisek</p>
            <img src="https://cdn4.iconfinder.com/data/icons/iphone-5s-5c/256/iPhone-5S-white.png" alt=""/>
            <span>7900 Kč</span>
            <a asp-action="Buy" asp-route-id="1">Koupit</a>
        </div>
    </div>

    <div class="product">
        <div>
            <h2>Název produktu</h2>
            <p>Popisek</p>
            <img src="https://cdn4.iconfinder.com/data/icons/iphone-5s-5c/256/iPhone-5S-white.png" alt=""/>
            <span>7900 Kč</span>
            <a asp-action="Buy" asp-route-id="1">Koupit</a>
        </div>
    </div>

    <div class="product">
        <div>
            <h2>Název produktu</h2>
            <p>Popisek</p>
            <img src="https://cdn4.iconfinder.com/data/icons/iphone-5s-5c/256/iPhone-5S-lock-screen.png" alt=""/>
            <span>7900 Kč</span>
            <a asp-action="Buy" asp-route-id="1">Koupit</a>
        </div>
    </div>

    <div class="product">
        <div>
            <h2>Název produktu</h2>
            <p>Popisek</p>
            <img src="https://cdn4.iconfinder.com/data/icons/iphone-5s-5c/256/iPhone-5S-white.png" alt=""/>
            <span>7900 Kč</span>
            <a asp-action="Buy" asp-route-id="1">Koupit</a>
        </div>
    </div>

    <div class="product">
        <div>
            <h2>Název produktu</h2>
            <p>Popisek</p>
            <img src="https://cdn4.iconfinder.com/data/icons/iphone-5s-5c/256/iPhone-5S-lock-screen.png" alt=""/>
            <span>7900 Kč</span>
            <a asp-action="Buy" asp-route-id="1">Koupit</a>
        </div>
    </div>

    <div class="product">
        <div>
            <h2>Název produktu</h2>
            <p>Popisek</p>
            <img src="https://cdn4.iconfinder.com/data/icons/iphone-5s-5c/256/iPhone-5S-white.png" alt=""/>
            <span>7900 Kč</span>
            <a asp-action="Buy" asp-route-id="1">Koupit</a>
        </div>
    </div>
</main>
